<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>OUTCAST</title>
    <script src="./phaser.min.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">

    // display
    let windowHeight = window.innerHeight;
    let windowWidth = window.innerWidth;

    // game
    let game = new Phaser.Game(windowWidth, windowHeight, Phaser.AUTO, 'outcast', { preload: preload, create: create, update: update });

    // text
    let textTitle = null;
    let textEvent = null;
    let textContext = null;
    let textChoices = [];

    // buttons
    let buttonValidate = null;
    let buttonChoices = [];

    // size text
    const sizeTitle = 50;
    const sizeEvent = 30;

    // game manager
    let token = null;
    let waitEvent = true;
    let idEvent = null;
    let selectedChoice = null;

    // url api
    const baseUrlLocalhost = "http://localhost:3000";
    const baseUrl = "http://192.168.0.11:3000";
    const api = "/api/v1";
    const endpointStart = baseUrlLocalhost + api + "/start_game";
    const endpointEvent = baseUrlLocalhost + api + "/events";
    const endpointContext = baseUrlLocalhost + api + "/context"

    // PHASERJS function - to preload assets
    function preload() {
        // load font
        game.load.bitmapFont('gem', 'ressources/assets/fonts/gem.png', 'ressources/assets/fonts/gem.xml');
        // load images
        game.load.image('button_choice_empty', 'ressources/assets/images/button_choice_empty.png');
        game.load.image('button_choice_full', 'ressources/assets/images/button_choice_full.png');
        game.load.image('button_validate', 'ressources/assets/images/button_validate.png');
    }

    // PHASERJS function - to start the gui
    function create() {
        // title
        textTitle = game.add.bitmapText(0, 0, 'gem', 'OUTCAST', sizeTitle);
        // button validate
        buttonValidate = game.add.button(0, 0, 'button_validate', postChoice);
        // get the token (= start a game server-side)
        const request = sendHttpRequest(endpointStart, "GET", null);
        token = JSON.parse(request.response).token;
    }

    // PHASERJS function - update the gui
    function update() {
        if (window.innerHeight != windowHeight || window.innerWidth != windowWidth)
            resizeWindow();
        if (waitEvent == true) {
            // need to start game before
            const requestEvent = sendHttpRequest(endpointEvent, "GET", null);
            console.log(requestEvent.response);
            const responseEvent = JSON.parse(requestEvent.response);
            destroyText();
            idEvent = responseEvent.id;
            textEvent = game.add.bitmapText(0, 0, 'gem', responseEvent.text, sizeEvent);
            for (let i = 0; i < responseEvent.choices.length; i++) {
                let textChoice = game.add.bitmapText(windowWidth * 0.3, 0, 'gem', responseEvent.choices[i].text, sizeEvent);
                textChoices.push(textChoice);
                let buttonChoice = game.add.button(0, 0, 'button_choice_empty', ()=> {selectChoice(i);});
                buttonChoices.push(buttonChoice);
            }
            const requestContext = sendHttpRequest(endpointContext, "GET", null);
            console.log(requestContext.response)
            const playerContext = JSON.parse(requestContext.response).player;
            const context = `Status:${playerContext.status} | Reputation:${playerContext.reputation} | Honnor:${playerContext.honnor}% | Fear:${playerContext.fear}% | Money:${playerContext.money} | MilitaryForce:${playerContext.military_force}`;
            textContext = game.add.bitmapText(0, 0, 'gem', context, sizeEvent);
            waitEvent = false;
            selectedChoice = null;

            resizeWindow();
        }
    }

    // destroy all text before redisplay them updated
    function destroyText() {
        if (textEvent != null)
            textEvent.destroy();
        if (textContext != null)
            textContext.destroy();
        for (let i = 0; i < textChoices.length; i++)
            textChoices[i].destroy();
        textChoices = [];
        for (let i = 0; i < buttonChoices.length; i++)
            buttonChoices[i].destroy();
        buttonChoices = [];
    }

    function resizeWindow() {
        // rescale
        windowHeight = window.innerHeight;
        windowWidth = window.innerWidth;
        game.scale.setGameSize(windowWidth, windowHeight);
        // title
        textTitle.centerX = windowWidth * 0.5;
        textTitle.centerY =  windowHeight * 0.2;
        // context
        textContext.centerX = windowWidth * 0.5;
        textContext.centerY =  windowHeight * 0.95;
        // button validate
        buttonValidate.centerX = windowWidth * 0.5;
        buttonValidate.centerY =  windowHeight * 0.85;
        // event
        textEvent.centerX = windowWidth * 0.5;
        textEvent.centerY =  windowHeight * 0.4;
        // choices
        for (let i = 0; i < textChoices.length; i++) {
            textChoices[i].x = windowWidth * 0.3;
            textChoices[i].centerY = windowHeight * 0.5 + i * 60;
        }
        // button choices
        for (let i = 0; i < buttonChoices.length; i++) {
            buttonChoices[i].x = windowWidth * 0.3 - buttonChoices[i].width * 2;
            buttonChoices[i].centerY = windowHeight * 0.5 + i * 60;
        }
    }

    function selectChoice(idx) {
        console.log("Click on button " + idx);
        if (selectedChoice != null)
            buttonChoices[selectedChoice].loadTexture('button_choice_empty');
        buttonChoices[idx].loadTexture('button_choice_full');
        selectedChoice = idx;
    }

    function postChoice() {
        if (selectedChoice != null) {
            let body = {
                'id_event': idEvent,
                'id_choice': selectedChoice
            };
            sendHttpRequest(endpointEvent, "POST", JSON.stringify(body));
            selectedChoice = null;
            waitEvent = true;
        }
    }

    // send an http request
    function sendHttpRequest(url, method, body) {
        const req = new XMLHttpRequest();
        req.open(method, url, false);
        if (token != null) {
            req.setRequestHeader('Authorization', token);
            req.setRequestHeader('Content-Type', 'application/json');
        }
        req.send(body);
        return req;
    }

</script>

</body>
</html>